<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout">
<head>
    <meta charset="utf-8">
    <title>SMW - TECHCAM - ADMIN</title>
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- App favicon -->
    <link rel="shortcut icon" th:href="@{/assets/img/logo.png}">
    <!-- DataTables -->
    <link rel="stylesheet" type="text/css" th:href="@{/assets/css/dataTables.bootstrap4.min.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/assets/css/buttons.bootstrap4.min.css}">
    <!-- Responsive datatable examples -->
    <link rel="stylesheet" type="text/css" th:href="@{/assets/css/responsive.bootstrap4.min.css}">
    <!-- Bootstrap Css -->
    <link id="bootstrap-style" rel="stylesheet" type="text/css" th:href="@{/assets/css/bootstrap.min.css}">
    <!-- Bootstrap datepicker -->
    <link rel="stylesheet" th:href="@{/assets/css/bootstrap-datepicker.min.css}">
    <link rel="stylesheet" th:href="@{/assets/css/bootstrap-datepicker.standalone.min.css}">
    <link rel="stylesheet" th:href="@{/assets/css/bootstrap-datepicker3.min.css}">
    <link rel="stylesheet" th:href="@{/assets/css/bootstrap-datepicker3.standalone.min.css}">
    <!-- Icons Css -->
    <link rel="stylesheet" type="text/css" th:href="@{/assets/css/icons.min.css}">

    <!-- Font Awesome 5.15.4 -->
    <link rel="stylesheet" th:href="@{/assets/css/fontawesome.min.css}"/>

    <!-- App Css-->
    <link id="app-style" rel="stylesheet" type="text/css" th:href="@{/assets/css/app.min.css}">
    <!-- Chosen -->
    <link rel="stylesheet" type="text/css" th:href="@{/assets/css/chosen.min.css}">
    <!-- Custom CSS -->
    <link rel="stylesheet" type="text/css" th:href="@{/assets/css/style.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/toastr/toastr.min.css}"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/sockjs-client/1.1.4/sockjs.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.min.js"></script>
    <!-- SweetAlert2-->
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script th:src="@{/assets/js/jquery.min.js}"></script>
    <script th:src="@{/assets/js/jquery.dataTables.min.js}"></script>

</head>
<body data-topbar="colored" data-layout="horizontal">

<!-- Waiting screen -->
<div id="loading-image">
    <div id="bg-color"></div>
    <img th:src="@{/assets/img/loading-image.gif}" alt="loading image">
</div>

<!-- Loader -->
<div id="preloader">
    <div id="status">
        <div class="spinner"></div>
    </div>
</div>

<div id="layout-wrapper">
    <!--header-->
    <div th:replace="~{commons/header :: header}"></div>
    <div class="main-content">
        <div class="page-content">
            <div layout:fragment="content"></div>
        </div>

        <!--footer-->
        <div th:replace="~{commons/footer :: footer}"></div>

    </div>
</div>

<div class="rightbar-overlay">

</div>

<script>
    function loadNotifyHead(){
        $.ajax({
            url: '/api/notification/top3',
            method: 'GET',
            success: function (datas) {
                let containerNotify = document.getElementById('container-notify');
                containerNotify.innerHTML = '';
                console.log(datas)
                for(let data of datas){
                    if(data.type == 'COMMENT'){
                        containerNotify.innerHTML +=
                            '<a href="#" onclick="viewDetail(\''+data.productId+'\',\''+data.id+'\')" class="text-reset notification-item">\n' +
                            '              <div class="d-flex">\n' +
                            '                <div class="avatar-xs me-3">\n' +
                            '                  <span class="avatar-title bg-success rounded-circle font-size-16">\n' +
                            '                    <i class="mdi mdi-message-text-outline"></i>\n' +
                            '                  </span>\n' +
                            '                </div>\n' +
                            '                <div class="flex-1">\n' +
                            '                  <h6 class="mt-0 font-size-15 mb-1">Đánh giá</h6>\n' +
                            '                  <div class="font-size-12 text-muted">\n' +
                            '                    <p class="mb-1">'+data.content+'</p>\n' +
                            '                  </div>\n' +
                            '                </div>\n' +
                            '              </div>\n' +
                            '            </a>'
                    } else {
                        containerNotify.innerHTML +=
                            '<a href="#" onclick="viewOrderNoti(\''+data.id+'\')" class="text-reset notification-item">\n' +
                            '              <div class="d-flex">\n' +
                            '                <div class="avatar-xs me-3">\n' +
                            '                  <span class="avatar-title bg-warning rounded-circle font-size-16">\n' +
                            '                    <i class="mdi mdi-cart-outline"></i>\n' +
                            '                  </span>\n' +
                            '                </div>\n' +
                            '                <div class="flex-1">\n' +
                            '                  <h6 class="mt-0 font-size-15 mb-1">Đơn hàng</h6>\n' +
                            '                  <div class="font-size-12 text-muted">\n' +
                            '                    <p class="mb-1">'+data.content+'</p>\n' +
                            '                  </div>\n' +
                            '                </div>\n' +
                            '              </div>\n' +
                            '            </a>'
                    }
                }

            },
            error: function (error) {
                console.log(error)
            }
        })

        $.ajax({
            url: '/api/notification/count',
            method: 'GET',
            success: function (datas) {
                console.log(datas)
                document.getElementById('countNoti').innerText = datas
            },
            error: function (error) {
                console.log(error)
            }
        })
    }

</script>

<!-- JAVASCRIPT -->
<script th:src="@{/assets/js/moment.min.js}"></script>
<script th:src="@{/assets/js/bootstrap.bundle.min.js}"></script>
<script th:src="@{/assets/js/metisMenu.min.js}"></script>
<script th:src="@{/assets/js/simplebar.min.js}"></script>
<script th:src="@{/assets/js/waves.min.js}"></script>

<script th:src="@{/assets/js/morris.min.js}"></script>

<script th:src="@{/assets/js/raphael.min.js}"></script>

<script th:src="@{/assets/js/jquery.peity.min.js}"></script>

<script th:src="@{/assets/js/dashboard.init.js}"></script>

<script th:src="@{/assets/js/fontawesome.init.js}"></script>

<script th:src="@{/assets/js/app.js}"></script>

<script th:src="@{/assets/js/chosen.jquery.js}"></script>
<script th:src="@{/assets/js/chosen.proto.min.js}"></script>
<script th:src="@{/assets/js/chosen.init.js}"></script>

<!-- Required datatable js -->
<script th:src="@{/assets/js/dataTables.bootstrap4.min.js}"></script>
<!-- Buttons examples -->
<script th:src="@{/assets/js/dataTables.buttons.min.js}"></script>
<script src="https://cdn.datatables.net/select/1.3.3/js/dataTables.select.min.js"></script>
<script th:src="@{/assets/js/buttons.bootstrap4.min.js}"></script>
<script th:src="@{/assets/js/jszip.min.js}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/pdfmake.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js"></script>
<script th:src="@{/assets/js/buttons.html5.min.js}"></script>
<script th:src="@{/assets/js/buttons.print.min.js}"></script>
<script th:src="@{/assets/js/buttons.colVis.min.js}"></script>
<!-- Responsive examples -->
<script th:src="@{/assets/js/dataTables.responsive.min.js}"></script>
<script th:src="@{/assets/js/responsive.bootstrap4.min.js}"></script>

<!-- Datatable init js -->
<script th:src="@{/assets/js/datatables.init.js}"></script>
<script th:src="@{/assets/js/bootstrap-datepicker.min.js}"></script>
<script th:src="@{/toastr/toa.js}"></script>

<!-- Custom js -->
<script th:src="@{/assets/js/script.js}"></script>
<script th:src="@{/system/order.js}"></script>
<script th:src="@{/system/notification.js}"></script>

<script layout:fragment="script"></script>
<script>
    loadNotifyHead();
    let t1 = null
    let t = null

    let href = window.location.href;
    if(href.indexOf('orders') > -1){
        t = $('#datatable').DataTable({
            paging: false,
            lengthChange: !1,
            "columnDefs": [{
                "searchable": false,
                "orderable": false,
                "targets": [0, 1],
            }],
            buttons: [{
                extend: 'copy',
                text: '<i class="fas fa-copy"></i>',
                titleAttr: 'Sao chép'
            },
                {
                    extend: 'excel',
                    text: '<i class="fas fa-file-excel"></i>',
                    titleAttr: 'Excel'
                },
                {
                    extend: 'pdfHtml5',
                    orientation: 'landscape',
                    pageSize: 'LEGAL',
                    text: '<i class="fas fa-file-pdf"></i>',
                    titleAttr: 'PDF'
                },
                {
                    extend: 'colvis',
                    text: '<i class="fas fa-filter"></i>',
                    titleAttr: 'Hiển thị tuỳ chỉnh'
                }],

            scrollY: "54vh",
            scrollX: true,
            scrollCollapse: true,

            info: false,
            columns: [
                {data: 'stt', className: "text-center"},
                {data: 'action', className: "text-center"},
                {data: 'orderId', className: "text-center order-id"},
                {data: 'tax', className: "text-end order-tax"},
                {data: 'createDate', className: "text-center"},
                {data: 'type', className: "text-center"},
                {data: 'payment', className: "text-center"},
            ]
        });

        t.buttons().container().appendTo("#datatable_wrapper .col-md-6:eq(0)"),
            $(".dataTables_length select").addClass("form-select form-select-sm");
        $("body").find(".dataTables_scrollBody").addClass("scrollbar");

        t.on('order.dt search.dt', function () {
            t.column(0, {search: 'applied', order: 'applied'}).nodes().each(function (cell, i) {
                cell.innerHTML = i + 1;
            });
        }).draw();
    }
    else if(href.indexOf('notification') > -1){
        t1 = $('#datatable').DataTable({
            lengthChange: !1,
            "ordering": false,

            info: false,
            columns: [
                {data: 'btn', className: "text-left"},
                {data: 'content', className: "text-left"},
                {data: 'time', className: "text-left"}
            ]
        });

        getNotification()
    }
    connect();
</script>
</body>
</html>
