<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/weblayout}">
<head>
    <meta charset="UTF-8">
    <title>Quản lý nhập hàng - TechCam</title>
    <link rel="stylesheet" th:href="@{/assets/css/select2.min.css}">
</head>
<body>
<div layout:fragment="content" class="container-fluid" style="max-width: 98%; height: 80vh">
    <div class="row container1">
        <div class="col-lg-2 h-100" id="leftKH">
            <h1 class="heading-page">Quản lý nhập hàng</h1>
            <div class="filter-report">
                <div class="card" style="padding-left: 15px; padding-top: 15px">
                    <h6 class="mx-2 mt-2 fs-14">Lọc theo:</h6>
                    <div class="mx-2 mb-2">
                        <div class="mb-3">
                            <label>Nhà cung cấp:</label>
                            <select class="select2 form-select" onchange="onChangeFilerSupplier(this)">
                                <option value="">Tất cả</option>
                                <option th:each="supplie : ${lstSupplier}" th:value="${supplie.id}"
                                        th:text="${supplie.name}"></option>
                            </select>
                        </div>
                        <div class="mb-3">
                            <label>Chọn ngày:</label>
                            <div class="input-group" id="datepicker2">
                                <input type="text" class="form-control" placeholder="dd-mm-yyyy"
                                       data-date-format="dd-mm-yyyy" data-date-container='#datepicker2'
                                       data-provide="datepicker" onchange="onChangeFilterDate(this)"
                                       data-date-autoclose="true">
                            </div><!-- input-group -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-10" id="rightKH" style="height: 100%">
            <div class="row justify-content-end">
                <a href="#modal-edit-invoice" type="button" onclick="onClickOpenModalAdd()"
                   class="btn btn-primary col-auto mb-3 waves-effect waves-light"
                   data-bs-toggle="modal">
                    <i class="fas fa-plus me-2"></i>
                    Nhập hàng
                </a>
            </div>
            <div class="card">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="card-body overflow-auto">
                            <table id="datatable"
                                   class="table table-responsive table-hover table-bordered nowrap dataTable no-footer shadow"
                                   style="border-collapse: collapse; border-spacing: 0; width: 100%;">
                                <thead>
                                <tr class="text-center">
                                    <th>STT</th>
                                    <th>Chức năng</th>
                                    <th>NCC</th>
                                    <th>Mã đặt hàng</th>
                                    <th>Mã phiếu nhập</th>
                                    <th>Tổng tiền</th>
                                    <th>Giảm giá</th>
                                    <th>Đã thanh toán</th>
                                    <th>Phải trả NCC</th>
                                    <th>Người giao</th>
                                    <th>Ngày nhập</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr th:each="invoice : ${lstInvoice}">
                                    <td></td>
                                    <td class="text-center">
                                        <a href="#modal-edit-invoice" class="btn btn-info btn-sm"
                                           th:data-id="${invoice.invoiceId}"
                                           data-bs-toggle="modal" onclick="onClickEditInvoice(this)">
                                            Chi tiết
                                        </a>
                                    </td>
                                    <td class="ncc" th:data-id="${invoice.supplierId}"
                                        th:text="${invoice.supplierName}">NCC
                                    </td>
                                    <td th:text="${invoice.orderInvoiceCode}">Mã đặt hàng</td>
                                    <td th:text="${invoice.invoiceCode}">Mã phiếu nhập</td>
                                    <td class="text-end"
                                        th:text="${#numbers.formatDecimal(invoice.totalMoney, 0, 'POINT', 0, 'COMMA') + 'đ'}">
                                        Tổng tiền
                                    </td>
                                    <td class="text-end"
                                        th:text="${#numbers.formatDecimal(invoice.discount, 0, 'POINT', 0, 'COMMA') + 'đ'}">
                                        Giảm giá
                                    </td>
                                    <td class="text-end"
                                        th:text="${#numbers.formatDecimal(invoice.paid, 0, 'POINT', 0, 'COMMA') + 'đ'}">
                                        Đã thanh toán
                                    </td>
                                    <td class="text-end"
                                        th:text="${#numbers.formatDecimal(invoice.totalMoney - invoice.discount - invoice.paid, 0, 'POINT', 0, 'COMMA') + 'đ'}">
                                        Phải trả NCC
                                    </td>
                                    <td th:text="${invoice.shipper}">
                                        Phải trả NCC
                                    </td>
                                    <!--                                    <td class="text-center">-->
                                    <!--                                        <span th:if="${invoice.status == 'ON'}" class="badge bg-success">-->
                                    <!--                                            Đã nhập-->
                                    <!--                                        </span>-->
                                    <!--                                        <span th:unless="${invoice.status == 'ON'}" class="badge bg-danger">-->
                                    <!--                                            Đã huỷ-->
                                    <!--                                        </span>-->
                                    <!--                                    </td>-->
                                    <td class="dateInvoice"
                                        th:data-date="${#dates.format(invoice.createDate, 'dd-MM-yyyy')}"
                                        th:text="${#dates.format(invoice.createDate, 'dd-MM-yyyy hh:mm')}">
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <!-- <div id="morris-bar-stacked" class="morris-chart-height morris-charts"></div> -->
                </div>
            </div>
        </div>
    </div>

    <div id="modal-edit-invoice" class="modal fade show" style="display: block;" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog modal-xl modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title mt-0" id="titleModal">Sửa nhập hàng</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body" id="editInvoice">
                    <!-- Tab panes -->
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary waves-effect" data-bs-dismiss="modal">Đóng</button>
                    <button type="button" id="btnSubmitEditInvoice" class="btn btn-success waves-effect waves-light"
                            data-id="" onclick="onClickSubmitEditInvoice(this)">
                        Cập nhật
                    </button>
                    <button type="button" id="btnSubmitAddInvoice" class="btn btn-success waves-effect waves-light"
                            onclick="onClickAddInvoice()">
                        Lưu
                    </button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
    <script>
        function onChangeFilerSupplier(e) {
            let value = e.value;
            if (value === '') {
                $('.ncc').parent().show();
            } else {
                $('.ncc').parent().hide();
                $('.ncc[data-id="' + value + '"]').parent().show();
            }
        }

        function onChangeFilterDate(e) {
            let value = e.value;
            $('.dateInvoice').parent().hide();
            $('.dateInvoice[data-date="' + value + '"]').parent().show();
        }
    </script>
</div>
<div layout:fragment="script">
    <script th:src="@{/assets/js/invoice_008.js}"></script>
    <script th:src="@{/assets/js/table-edits.min.js}"></script>
    <!--    <script th:src="@{/assets/js/table-editable.init.js}"></script>-->
</div>
</body>
</html>
