<!DOCTYPE html>
<html lang="en"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/weblayout}">
<head>
    <meta charset="UTF-8">
    <title>Báo báo ngày [[${date}]] - TechCam</title>
</head>
<body>
<div layout:fragment="content" class="container-fluid" style="max-width: 98%;">
    <div class="row container1" style="height: 80vh" id="containerBody">
        <div class="col-lg-2 h-100" id="leftKH">
            <div class="filter-report">
                <div class="card" style="padding-left: 15px; padding-top: 15px">
                    <h6 class="mx-2 mt-2 fs-14">Báo cáo hàng ngày</h6>
                    <div class="mx-2 mb-4">
                        <div class="input-group" id="datepicker2">
                            <input type="text" class="form-control" placeholder="dd/mm/yyyy"
                                   data-date-format="dd/mm/yyyy" data-date-container='#datepicker2'
                                   data-provide="datepicker" th:value="${date}"
                                   data-date-autoclose="true" onchange="onChangeDate(this)">
                        </div><!-- input-group -->
                        <button class="mb-2 mt-2 btn btn-secondary" onclick="savePdf()">Xuất PDF</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-10" id="rightKH" style="height: 100%">
            <!--            <div class="card">-->
            <!--                <div class="row">-->
            <!--                    <div class="col-lg-12">-->
            <!--                        <div class="card-body overflow-auto">-->
            <!--                            <table id="datatable"-->
            <!--                                   class="table table-bordered table-striped"-->
            <!--                                   style="border-collapse: collapse; border-spacing: 0; width: 100%;">-->
            <!--                                <thead>-->
            <!--                                <tr class="text-center">-->
            <!--                                    <th>Mã sản phẩm</th>-->
            <!--                                    <th>Tên sản phẩm</th>-->
            <!--                                    <th>Đơn giá</th>-->
            <!--                                    <th>Số lượng</th>-->
            <!--                                    <th>Khuyến mãi</th>-->
            <!--                                    <th>Tổng tiền</th>-->
            <!--                                </tr>-->
            <!--                                </thead>-->
            <!--                                <tbody>-->
            <!--                                <tr th:each="data : ${lstDailySale}">-->
            <!--                                    <td class="text-center" th:text="${data.productCode}"></td>-->
            <!--                                    <td class="text-wrap" th:text="${data.productName}"></td>-->
            <!--                                    <td class="text-end"-->
            <!--                                        th:text="${#numbers.formatDecimal(data.price, 0, 'POINT', 0, 'COMMA') + 'đ'}"></td>-->
            <!--                                    <td class="text-end"-->
            <!--                                        th:text="${#numbers.formatDecimal(data.sumQuantity, 0, 'POINT', 0, 'COMMA')}"></td>-->
            <!--                                    <td class="text-end"-->
            <!--                                        th:text="${#numbers.formatDecimal(data.promotion, 0, 'POINT', 0, 'COMMA') + 'đ'}"></td>-->
            <!--                                    <td class="text-end"-->
            <!--                                        th:text="${#numbers.formatDecimal(data.totalAmount, 0, 'POINT', 0, 'COMMA') + 'đ'}"></td>-->
            <!--                                </tr>-->
            <!--                                </tbody>-->
            <!--                            </table>-->
            <!--                        </div>-->
            <!--                        &lt;!&ndash; <div id="morris-bar-stacked" class="morris-chart-height morris-charts"></div> &ndash;&gt;-->
            <!--                    </div>-->
            <!--                </div>-->
            <!--            </div>-->
            <div class="card card-body" id="contentPdf">
                <div class="row">
                    <div class="col-12 mb-3 fs-5">
                        <div class="row">
                            <div id="cuaHang">Cửa hàng: TNHH Techcam Poly</div>
                            <div id="ngay">Ngày: [[${date}]]</div>
                        </div>
                    </div>
                    <div class="col-12 mb-3 text-center">
                        <h2>Báo cáo hàng ngày</h2>
                    </div>
                </div>
                <table class="table table-striped table-bordered mb-4">
                    <thead>
                    <tr class="text-center">
                        <th>Mã sản phẩm</th>
                        <th>Tên sản phẩm</th>
                        <th>Đơn giá</th>
                        <th>Số lượng</th>
                        <th>Khuyến mãi</th>
                        <th>Tổng tiền</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="data : ${lstDailySale}">
                        <td class="text-center" th:text="${data.productCode}"></td>
                        <td class="text-wrap" th:text="${data.productName}"></td>
                        <td class="text-end"
                            th:text="${#numbers.formatDecimal(data.price, 0, 'POINT', 0, 'COMMA') + 'đ'}"></td>
                        <td class="text-end"
                            th:text="${#numbers.formatDecimal(data.sumQuantity, 0, 'POINT', 0, 'COMMA')}"></td>
                        <td class="text-end"
                            th:text="${#numbers.formatDecimal(data.promotion, 0, 'POINT', 0, 'COMMA') + 'đ'}"></td>
                        <td class="text-end"
                            th:text="${#numbers.formatDecimal(data.totalAmount, 0, 'POINT', 0, 'COMMA') + 'đ'}"></td>
                    </tr>
                    </tbody>
                </table>
                <div class="row mt-3 mb-10">
                    <div class="col-6">
                        <div class="text-center">
                            <strong class="fs-5">
                                Người lập phiếu
                            </strong>
                        </div>
                        <div class="text-center">
                            <label class="fs-5">
                                (Ký, họ tên)
                            </label>
                        </div>
                        <br/>
                        <br/>
                        <br/>
                        <div class="text-center">
                            <label class="fs-5" th:text="${staff.fullName}">
                            </label>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="text-center">
                            <label class="fs-6">
                                Ngày [[${day}]] tháng [[${month}]] năm [[${year}]]
                            </label>
                        </div>
                        <div class="text-center">
                            <strong class="fs-5">
                                Kế toán trưởng
                            </strong>
                        </div>
                        <div class="text-center">
                            <label class="fs-5">
                                (Ký, họ tên)
                            </label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="printerDiv" style="display:none"></div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.3.2/jspdf.debug.js"></script>
    <!--        <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/2.5.1/jspdf.umd.min.js"></script>-->
    <!--        <script src="https://unpkg.com/jspdf@latest/dist/jspdf.umd.min.js"></script>-->
    <script>

        function onChangeDate(e) {
            let date = e.value;
            let url = '/daily-sales?date=' + date;
            location.href = url;
        }

        // window.onload = savePdf();

        function savePdf() {
            // const doc = new jsPDF();
            // let title = window.title;
            //
            // printDiv(title);

            // function printDiv(title) {
            //
            //     let mywindow = window.open(window.href, 'PRINT', 'height=650,width=900,top=100,left=150');
            //
            //     // mywindow.document.write(`<html><head><title>${title}</title>`);
            //     // mywindow.document.write('</head><body >');
            //     // mywindow.document.write(document.getElementById("contentPdf").innerHTML);
            //     // mywindow.document.write('</body></html>');
            //     //
            //     // mywindow.document.close(); // necessary for IE >= 10
            //     mywindow.focus(); // necessary for IE >= 10*/
            //
            //     mywindow.print();
            //     mywindow.close();
            //
            //     return true;
            // }

            let printContents = document.getElementById("contentPdf").innerHTML;
            let originalContents = document.getElementById("containerBody").innerHTML;

            window.onbeforeprint = function () {
                document.getElementById("containerBody").innerHTML = printContents;
                window.open(window.href, "_blank");
            }

            window.print();

            setTimeout(function () {
                document.getElementById("containerBody").innerHTML = originalContents;
            }, 500);
            window.onafterprint = function () {
                document.getElementById("containerBody").innerHTML = originalContents;
            }


            // let doc = document.getElementById("contentPdf");
            //
            // //Wait until PDF is ready to print
            // if (typeof doc.print === 'undefined') {
            //     setTimeout(function () {
            //         printDocument(documentId);
            //     }, 1000);
            // } else {
            //     doc.print();
            // }

            // const doc = new jsPDF();
            //
            // doc.setFont("Font Awesome 5 Free");
            //
            // let specialElementHandlers = {
            //     '#editor': function (element, renderer) {
            //         return true;
            //     }
            // };
            //
            // doc.fromHTML($('#contentPdf').html(), 15, 15, {
            //     'width': 320,
            //     'elementHandlers': specialElementHandlers
            // });
            // doc.save('sample-page.pdf');
        }
    </script>
</div>
</body>
</html>
